<%- include('./partials/head.ejs') %>

<div class="container">
    <br><br>
    <center>
        <h2>Cart</h2>
    </center><br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Doggy</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < cart.length; i++){ %>
                <tr>
                    <td><img src="<%= cart[i].imageUrl %>" alt="Dog Image" style="width: 100px;"></td>
                    <td>$<%= cart[i].price %></td>
                    <td><%= cart[i].quantity %></td>
                    <td>$<%= cart[i].price * cart[i].quantity %></td>
                </tr>
            <% } %>
            <tr>
                <td colspan="3"><strong>Total Checkout Amount</strong></td>
                <td>$<%= totalsum  %></td>
            </tr>
        </tbody>
    </table>
</div>

<%- include('./partials/leg.ejs') %>